html {
	position: relative;
}

.modal_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.full_img {
	max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  object-fit: contain;
}