html {
	position: relative;
}

.modal_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.full_image {
	font-size: 50px;
	border: 1px solid red;
}